@model List<Dish>
@* Can do this if using the ViewBag list in the controller *@
@* @model Dish *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDelicious</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1>
    <a asp-controller = "Dish" asp-action = "NewDish">Add a Dish!</a>
    <p>Check out some recent dishes!</p>
    @foreach(var dish in Model)
    {
        <p><a href="/@dish.DishId">@dish.Name</a> by @dish.Chef</p>
    }

</body>
</html>
